In [1]:
import numpy as np
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv"
fuel_data = pd.read_csv(url, error_bad_lines=False)
fuel_data.describe(include="all")

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_2007_12_195_5_11,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [4]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [5]:
fuel_data.groupby('fuel_unit')['fuel_unit'].count()

fuel_unit
bbl        7998
gal          84
gramsU      464
kgU         110
mcf       11354
mmbtu       180
mwdth        95
mwhth       100
ton        8958
Name: fuel_unit, dtype: int64

In [6]:
fuel_data[['fuel_unit']] = fuel_data[['fuel_unit']].fillna(value='mcf')
fuel_data.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

In [7]:
fuel_data.groupby('report_year')['report_year'].count()

report_year
1994    1235
1995    1201
1996    1088
1997    1094
1998    1107
1999    1050
2000    1373
2001    1356
2002    1205
2003    1211
2004    1192
2005    1269
2006    1243
2007    1264
2008    1228
2009    1222
2010    1261
2011    1240
2012    1243
2013    1199
2014    1171
2015    1093
2016    1034
2017     993
2018     951
Name: report_year, dtype: int64

In [8]:
fuel_data.groupby('fuel_type_code_pudl').first()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_type_code_pudl,,,,,,,,,,
coal,f1_fuel_1994_12_1_0_7,1,1994,rockport,ton,5377489.0,16.590000,18.590,18.530,1.121
gas,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,mcf,40533.0,1.000000,2.770,2.770,2.570
nuclear,f1_fuel_1994_12_2_1_1,2,1994,joseph m. farley,kgU,2260.0,0.064094,28.770,0.000,0.450
oil,f1_fuel_1994_12_6_0_2,6,1994,clinch river,bbl,6510.0,5.875338,32.130,23.444,5.469
other,f1_fuel_1994_12_11_0_6,11,1994,w.f. wyman,bbl,55652.0,0.149719,14.685,15.090,2.335
waste,f1_fuel_1994_12_9_0_3,9,1994,b.l. england,ton,2438.0,0.015939,34.180,34.180,1.072

In [9]:
fuel_data.head(5)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [10]:
fuel_df1 = fuel_data.iloc[0:19000].reset_index(drop=True)
fuel_df2 = fuel_data.iloc[1900:].reset_index(drop=True)

In [11]:
pd.merge(fuel_df1, fuel_df2, how='inner')

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1995_12_38_0_1,38,1995,connecticut yankee,nuclear,gramsU,639400.0,0.000006,0.000,0.000,0.000
1,f1_fuel_1995_12_42_0_6,42,1995,f.m. tait,gas,mcf,170453.0,1.020000,3.060,3.060,3.004
2,f1_fuel_1995_12_42_0_10,42,1995,o.h. hutchings,coal,ton,162034.0,24.392000,35.260,33.510,1.445
3,f1_fuel_1995_12_42_0_12,42,1995,o.h. hutchings,gas,mcf,151808.0,1.020000,4.200,4.200,4.114
4,f1_fuel_1995_12_42_0_15,42,1995,o.h. hutchings,gas,mcf,8394.0,1.020000,3.540,3.540,3.474
5,f1_fuel_1995_12_42_1_6,42,1995,yankee st,gas,mcf,61845.0,1.020000,3.300,3.300,3.232
6,f1_fuel_1995_12_42_1_7,42,1995,killen,coal,ton,1520846.0,24.274000,33.440,32.250,1.378
7,f1_fuel_1995_12_42_1_10,42,1995,killen,coal,ton,1062970.0,24.270000,33.440,32.280,1.378
8,f1_fuel_1995_12_42_2_1,42,1995,j.m. stuart,coal,ton,5894250.0,23.112000,34.000,33.390,1.471
9,f1_fuel_1995_12_42_2_4,42,1995,j.m. stuart,coal,ton,2076576.0,23.118000,34.000,33.390,1.471
10,f1_fuel_1995_12_42_2_7,42,1995,east bend,coal,ton,560340.0,24.898000,29.330,28.480,1.178
11,f1_fuel_1995_12_42_2_10,42,1995,miami fort #7 & #8,coal,ton,893682.0,24.228000,35.700,34.390,1.474
12,f1_fuel_1995_12_42_2_13,42,1995,w.h. zimmer,coal,ton,1038917.0,24.274000,24.920,24.210,1.027
13,f1_fuel_1995_12_42_3_1,42,1995,w.c. beckjord,coal,ton,388334.0,23.788000,39.960,38.400,1.680
14,f1_fuel_1995_12_42_3_4,42,1995,conesville,coal,ton,200112.0,23.916000,45.250,43.670,1.892
15,f1_fuel_1995_12_173_2_13,173,1995,lake hubbard,gas,mcf,23420801.0,1.027416,2.350,2.350,2.280
16,f1_fuel_1995_12_54_0_6,54,1995,w.f. wyman unit 4,other,bbl,1689.0,0.150365,16.914,17.123,2.678
17,f1_fuel_1995_12_54_0_7,54,1995,new haven harbor sta,gas,mcf,172979.0,1.031000,2.303,2.303,2.237
18,f1_fuel_1995_12_55_0_5,55,1995,bartow,gas,mcf,7049201.0,1.037000,2.125,2.125,2.050
19,f1_fuel_1995_12_55_0_8,55,1995,crystal river south,coal,ton,1626420.0,24.982000,45.158,45.103,1.808
20,f1_fuel_1995_12_55_0_11,55,1995,crystal river north,coal,ton,3511792.0,25.112000,49.807,49.124,1.983
21,f1_fuel_1995_12_55_1_8,55,1995,intercession city,gas,mcf,477443.0,1.041000,2.329,2.329,2.238
22,f1_fuel_1995_12_55_2_11,55,1995,avon park,gas,mcf,287612.0,1.036000,2.111,2.111,2.037
23,f1_fuel_1995_12_55_2_14,55,1995,higgins,gas,mcf,512944.0,1.036000,2.111,2.111,2.037
24,f1_fuel_1995_12_55_3_8,55,1995,university of fl,gas,mcf,2864460.0,1.036000,1.742,1.742,1.682
25,f1_fuel_1995_12_55_3_9,55,1995,university of fl,oil,bbl,2120.0,5.822166,39.465,25.748,6.778
26,f1_fuel_1995_12_127_1_13,127,1995,kammer,coal,ton,1857874.0,24.680000,22.700,21.070,0.920
27,f1_fuel_1995_12_31_0_1,31,1995,"conesville 1-3,5,6",coal,ton,2239518.0,23.744000,32.794,30.451,1.381
28,f1_fuel_1995_12_31_0_3,31,1995,"conesville 1-3,5,6",gas,mcf,940760.0,1.020000,2.534,2.534,2.484
29,f1_fuel_1995_12_31_0_4,31,1995,picway,coal,ton,76551.0,22.450000,26.260,23.210,1.170
...,...,...,...,...,...,...,...,...,...,...,...
17070,f1_fuel_2009_12_27_0_13,27,2009,stuart deo,coal,ton,2543176.0,22.204000,53.765,53.977,2.421
17071,f1_fuel_2009_12_27_0_14,27,2009,stuart deo,oil,bbl,21489.0,5.770842,75.786,76.939,13.133
17072,f1_fuel_2009_12_27_1_1,27,2009,killen 2 deo,coal,ton,585857.0,22.344000,46.782,46.136,2.094
17073,f1_fuel_2009_12_27_1_2,27,2009,killen 2 deo,oil,bbl,6420.0,5.787390,79.922,79.466,13.810
17074,f1_fuel_2009_12_27_1_3,27,2009,killen 2 deo,waste,ton,151.0,0.007547,82.661,82.661,5.476
17075,f1_fuel_2009_12_27_1_4,27,2009,conesville 4 deo,coal,ton,313346.0,23.236000,58.925,62.540,2.536
17076,f1_fuel_2009_12_27_1_5,27,2009,conesville 4 deo,oil,bbl,2883.0,5.810532,87.899,74.923,15.128
17077,f1_fuel_2009_12_27_1_7,27,2009,miami fort ct,oil,bbl,89.0,5.766768,86.100,86.100,14.930
17078,f1_fuel_2009_12_27_1_10,27,2009,beckjord ct,oil,bbl,5968.0,5.770212,91.575,91.575,15.870
17079,f1_fuel_2009_12_27_1_13,27,2009,dicks creek,gas,mcf,14436.0,1.000000,5.463,5.463,5.314
17080,f1_fuel_2009_12_27_2_1,27,2009,fayette,gas,mcf,17705537.0,1.028000,4.511,4.511,4.390
17081,f1_fuel_2009_12_27_2_4,27,2009,lee,gas,mcf,197959.0,1.028000,4.164,4.164,4.050
17082,f1_fuel_2009_12_27_2_7,27,2009,hanging rock,gas,mcf,17348864.0,1.028000,4.359,4.359,4.240
17083,f1_fuel_2009_12_27_2_10,27,2009,washington,gas,mcf,8102237.0,1.028000,3.997,3.997,3.930
17084,f1_fuel_2009_12_27_2_13,27,2009,vermillion,gas,mcf,574835.0,1.028000,3.733,3.733,3.630
17085,f1_fuel_2009_12_182_0_1,182,2009,sibley,coal,ton,1652451.0,18.622000,39.980,41.140,2.147
17086,f1_fuel_2009_12_182_0_3,182,2009,sibley,other,mcf,18917.0,0.010021,105.391,105.391,5.259
17087,f1_fuel_2009_12_182_0_4,182,2009,ralph green,gas,mcf,5080.0,1.000000,4.292,4.292,4.292
17088,f1_fuel_2009_12_182_0_7,182,2009,jeffrey ener ctr 8%,coal,ton,696897.0,16.800000,26.090,25.120,1.553
17089,f1_fuel_2009_12_182_0_8,182,2009,jeffrey ener ctr 8%,oil,bbl,1768.0,6.348426,107.627,82.850,16.953
17090,f1_fuel_2009_12_182_0_10,182,2009,crossroads,gas,mcf,137819.0,1.000000,6.752,6.752,6.752
17091,f1_fuel_2009_12_182_1_1,182,2009,nevada,oil,bbl,375.0,5.797344,113.565,113.565,19.589
17092,f1_fuel_2009_12_182_1_4,182,2009,south harper,gas,mcf,609256.0,1.000000,9.312,9.312,9.312
17093,f1_fuel_2009_12_182_1_7,182,2009,lake road,coal,ton,284582.0,18.652000,37.781,40.180,2.026
17094,f1_fuel_2009_12_182_1_8,182,2009,lake road,waste,ton,3041.0,0.011374,46.031,46.031,2.023
17095,f1_fuel_2009_12_182_1_9,182,2009,lake road,gas,mcf,340857.0,1.000000,4.711,4.711,4.711
17096,f1_fuel_2009_12_182_1_10,182,2009,lake road,oil,mcf,771.0,5.801544,84.899,84.899,14.634
17097,f1_fuel_2009_12_182_1_13,182,2009,iatan (18%),coal,ton,414142.0,16.718000,18.509,17.570,1.107
17098,f1_fuel_2009_12_182_1_14,182,2009,iatan (18%),oil,bbl,5761.0,5.537910,83.636,72.280,15.102
17099,f1_fuel_2009_12_79_0_1,79,2009,montrose,coal,ton,2050919.0,17.160000,29.629,28.330,1.727

In [12]:
pd.merge(fuel_df1, fuel_df2, how='outer')

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590000,18.590,18.530,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592000,18.580,18.530,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130000,39.720,38.120,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950000,47.210,45.990,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000000,2.770,2.770,2.570
5,f1_fuel_1994_12_2_0_13,2,1994,e. c. gaston-unit 5,coal,ton,2124933.0,23.922000,44.240,43.250,1.850
6,f1_fuel_1994_12_2_1_1,2,1994,joseph m. farley,nuclear,kgU,2260.0,0.064094,28.770,0.000,0.450
7,f1_fuel_1994_12_2_1_10,2,1994,resondent's portion,coal,ton,5372133.0,24.840000,58.540,55.130,2.360
8,f1_fuel_1994_12_2_2_10,2,1994,respondent's portion,coal,ton,817520.0,24.290000,33.970,34.650,1.400
9,f1_fuel_1994_12_4_0_1,4,1994,units 1-3,coal,ton,1471233.0,22.484000,28.730,28.110,1.278
10,f1_fuel_1994_12_4_0_2,4,1994,units 1-3,gas,mcf,262720.0,1.026000,1.940,1.940,13.900
11,f1_fuel_1994_12_4_0_4,4,1994,unit 4,coal,ton,476779.0,22.428000,28.710,28.110,1.280
12,f1_fuel_1994_12_4_0_5,4,1994,unit 4,gas,mcf,6673.0,1.026000,1.940,1.940,1.900
13,f1_fuel_1994_12_6_0_1,6,1994,clinch river,coal,ton,1655558.0,25.038000,30.248,29.019,1.208
14,f1_fuel_1994_12_6_0_2,6,1994,clinch river,oil,bbl,6510.0,5.875338,32.130,23.444,5.469
15,f1_fuel_1994_12_6_0_4,6,1994,amos-apco share,coal,ton,3520831.0,24.508000,44.404,42.915,1.812
16,f1_fuel_1994_12_6_0_7,6,1994,amos-total,coal,ton,5327281.0,24.538000,44.312,42.940,1.806
17,f1_fuel_1994_12_6_0_10,6,1994,glen lyn,coal,ton,666975.0,25.836000,36.268,32.893,1.404
18,f1_fuel_1994_12_6_0_13,6,1994,kanawha river,coal,ton,391864.0,25.160000,46.024,42.034,1.829
19,f1_fuel_1994_12_6_0_14,6,1994,kanawha river,oil,bbl,3505.0,5.774958,33.321,26.280,5.770
20,f1_fuel_1994_12_6_1_7,6,1994,mountainr,coal,ton,2837040.0,24.526000,39.911,38.717,1.627
21,f1_fuel_1994_12_6_1_8,6,1994,mountainr,oil,bbl,50013.0,5.845644,30.319,23.884,5.187
22,f1_fuel_1994_12_6_1_10,6,1994,philip sporn-apco,coal,ton,383043.0,24.334000,39.850,35.856,1.638
23,f1_fuel_1994_12_6_1_11,6,1994,philip sporn-apco,oil,bbl,13969.0,5.742870,32.184,30.508,5.604
24,f1_fuel_1994_12_6_1_13,6,1994,philip sporn ttl plt,coal,ton,1338459.0,24.334000,40.144,35.793,1.650
25,f1_fuel_1994_12_6_1_14,6,1994,philip sporn ttl plt,oil,bbl,48750.0,5.742828,32.186,30.507,5.605
26,f1_fuel_1994_12_7_0_1,7,1994,"cholla units 1,2,3",coal,ton,2062799.0,19.970000,31.520,31.200,1.580
27,f1_fuel_1994_12_7_0_2,7,1994,"cholla units 1,2,3",oil,bbl,10088.0,5.851020,32.650,28.730,5.580
28,f1_fuel_1994_12_7_0_3,7,1994,"cholla units 1,2,3",gas,mcf,38086.0,0.880901,2.490,2.480,2.820
29,f1_fuel_1994_12_7_0_7,7,1994,4 corners,coal,ton,2599962.0,17.530000,21.170,20.860,1.210
...,...,...,...,...,...,...,...,...,...,...,...
29493,f1_fuel_2018_12_191_0_3,191,2018,tecumseh,gas,mcf,25325.0,1.033011,6.462,6.462,6.255
29494,f1_fuel_2018_12_191_0_5,191,2018,gordon evans ctf,gas,mcf,2073725.0,1.038883,4.462,4.462,4.295
29495,f1_fuel_2018_12_191_0_6,191,2018,gordon evans ctf,oil,bbl,10030.0,5.846053,94.777,94.900,16.212
29496,f1_fuel_2018_12_191_0_8,191,2018,spring creek,gas,mcf,2461276.0,1.026999,2.328,2.328,2.267
29497,f1_fuel_2018_12_191_0_11,191,2018,emporia ctf,gas,mcf,5853049.0,1.045818,3.681,3.681,3.520
29498,f1_fuel_2018_12_191_1_2,191,2018,hutchinson,gas,mcf,170018.0,1.019451,4.536,4.536,4.450
29499,f1_fuel_2018_12_191_1_3,191,2018,hutchinson,oil,bbl,527.0,5.816407,102.110,0.000,17.556
29500,f1_fuel_2018_12_191_1_6,191,2018,hutchinson w/diesel,oil,bbl,36.0,5.795044,102.488,0.000,17.685
29501,f1_fuel_2018_12_191_1_8,191,2018,jeffrey (jec),coal,ton,4189920.0,16.673825,29.799,29.970,1.787
29502,f1_fuel_2018_12_191_1_9,191,2018,jeffrey (jec),oil,bbl,19764.0,5.835849,88.553,101.010,15.174
29503,f1_fuel_2018_12_191_1_14,191,2018,lawrence,coal,ton,1761218.0,17.888320,26.775,27.392,1.497
29504,f1_fuel_2018_12_191_1_15,191,2018,lawrence,gas,mcf,88846.0,1.031133,6.274,6.274,6.084
29505,f1_fuel_2018_12_432_0_2,432,2018,pueblo diesels,oil,bbl,81.0,5.694696,101.330,101.330,17.790
29506,f1_fuel_2018_12_432_0_5,432,2018,airport - pueblo,oil,bbl,133.0,5.756940,95.530,95.530,16.590
29507,f1_fuel_2018_12_432_0_8,432,2018,rocky ford diesels,oil,bbl,320.0,5.719602,98.180,98.150,17.160
29508,f1_fuel_2018_12_432_0_11,432,2018,airport - units 1&2,gas,mcf,2154971.0,1.130000,255.000,3.780,3.350
29509,f1_fuel_2018_12_432_0_14,432,2018,airport unit 6,gas,mcf,162132.0,1.130000,2.460,3.970,3.510
29510,f1_fuel_2018_12_403_0_2,403,2018,wygen 2,coal,ton,569800.0,16.110000,14.760,0.810,1.130
29511,f1_fuel_2018_12_403_0_6,403,2018,cheyenne prairie 42%,gas,mcf,613882.0,1.050000,3.520,3.520,3.360
29512,f1_fuel_2018_12_403_0_9,403,2018,cheyenne prairie,gas,mcf,19655.0,1.050000,8.910,8.910,8.480
29513,f1_fuel_2018_12_12_0_2,12,2018,ben french station,gas,mcf,39679.0,1.059000,5.680,5.680,5.360
29514,f1_fuel_2018_12_12_0_4,12,2018,ben french station,oil,bbl,487.0,5.831070,0.000,0.000,9.970
29515,f1_fuel_2018_12_12_0_7,12,2018,neil simpson unit 2,gas,mcf,18370.0,1.059000,8.330,8.330,15.930
29516,f1_fuel_2018_12_12_0_8,12,2018,neil simpson unit 2,coal,ton,491913.0,16.100000,14.760,17.720,1.100
29517,f1_fuel_2018_12_12_0_10,12,2018,wyodak - bhp 20%,coal,ton,409637.0,16.068000,13.690,14.310,0.890
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059000,4.780,4.780,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050000,3.650,3.650,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060000,4.770,4.770,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108000,3.060,14.760,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059000,0.000,0.000,11.680

In [13]:
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [23]:
fuel_data[['fuel_cost_per_unit_burned', 'fuel_type_code_pudl' ]].min()

fuel_cost_per_unit_burned   -276.08
fuel_type_code_pudl            coal
dtype: object

In [24]:
fuel_data['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [28]:
print(fuel_data['fuel_qty_burned'].skew())
print(fuel_data['fuel_qty_burned'].kurtosis())

15.851495469109503
651.3694501337732

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

In [31]:
fuel_corr = fuel_data.corr()
fuel_corr.min()

utility_id_ferc1               -0.066946
report_year                    -0.110853
fuel_qty_burned                -0.080946
fuel_mmbtu_per_unit            -0.110853
fuel_cost_per_unit_burned      -0.037863
fuel_cost_per_unit_delivered   -0.016414
fuel_cost_per_mmbtu            -0.005884
dtype: float64